nav
  .container
    a#left-nav-button.visible-sm
      .line
      .line
      .line
    a.logo(href='/') XC · SOFT
    ul.tab-items.hide-sm
      li: a(href='/article', class={active: tab == 0 }) #{lang.nav.articles}
      li: a(href='/project', class={active: tab == 1 }) #{lang.nav.projects}
      li: a(href='/member', class={active: tab == 2 }) #{lang.nav.members}

  #dark
  #left-nav
    #left-nav-menu
      .logo XC · SOFT
      .list
        a(href='/article', class={active: tab == 0 }) #{lang.nav.articles}
        a(href='/project', class={active: tab == 1 }) #{lang.nav.projects}
        a(href='/member', class={active: tab == 2 }) #{lang.nav.members}
    .bottom
      a(href='/lib/contact-us') #{lang.footer.contact_us}
      a(href='/lib/lang') #{lang.footer.language}