nav
  .container
    a#left-nav-button.visible-sm
      .line
      .line
      .line
    .logo XC · SOFT
    ul.tab-items.hide-sm
      li: a(href='article', class={active: tab == 0 }) #{lang.tab.articles}
      li: a(href='project', class={active: tab == 1 }) #{lang.tab.projects}
      li: a(href='member', class={active: tab == 2 }) #{lang.tab.members}

  #dark
  #left-nav
    #left-nav-menu
      .logo XC · SOFT
      .list
        a(href='article', class={active: tab == 0 }) #{lang.tab.articles}
        a(href='project', class={active: tab == 1 }) #{lang.tab.projects}
        a(href='member', class={active: tab == 2 }) #{lang.tab.members}