extends ../layout
block main
  #admin-main
    a(href="/lib/admin/article/new") 添加文章
    table
      thead
        th 文章标题
        th 发布者
        th 点击数
        if user.user_type == 'admin'
          th 隐藏
          th 删除
      tbody
        each article in articleList
          if article.status || user.user_type == 'admin'
            tr
              td: a(href="/lib/admin/article/#{article.title_short}") #{article.title}
              td #{article.author.real_name}
              td #{article.click}
              if user.user_type == 'admin'
                td: a(href="/lib/admin/article/hide/#{article.title_short}/#{0 + !article.status}") #{article.status == 1 ? '隐藏' : '恢复'}
                td: a(href="/lib/admin/article/remove/#{article.title_short}") 删除