extends ../layout
block main
  div#admin-main
    form(method="post")
      input.hide(name="_id", value="#{project._id}")
      .form-group
        span 项目名
        input(name="name", value="#{project.name}")
      .form-group
        span 英文名（作为URL，可以带上空格）
        input(name="name_short", value="#{project.name_short}")
      .form-group
        span 设计师
        each member in memberList
          input(type="checkbox", name="designer", value="#{member._id}")
          span #{member.real_name}
      .form-group
        span 开发者
        each member in memberList
          input(type="checkbox", name="developer", value="#{member._id}")
          span #{member.real_name}
      .form-group
        span 用到的技术（一行一个）
        textarea(name="technology", value="")
          | !{project.technology}
      .form-group
        span 描述
        input(name="description", value="#{project.description}")
      .form-group
        span 图片
        img(id="img_pic", src="#{project.picture}")
        input.hide(name="picture", value="#{project.picture}")
        button(id="picture_upload", type="button") 上传图片
      .form-group
        span 详细说明（请使用MarkDown语法）
        button(id="mark_upload") 插入图片
        textarea(name="detail[source]", id="markdown")
         | !{project.detail.source}
      .form-group
        input(type="submit")

block jsCode
  script(src="assets/js/SimpleAjaxUploader.min.js")
  script(src="assets/js/admin.js")
  script.
    $(function () {

      var designerId = [#{designerId}].join(',');
      var developerId = [#{developerId}].join(',');

      $('input[name="designer"]').each(function () {
        if (designerId.indexOf($(this).val()) >= 0) {
          $(this).attr('checked', 'checked')
        }
      });
      $('input[name="developer"]').each(function () {
        if (developerId.indexOf($(this).val()) >= 0) {
          $(this).attr('checked', 'checked')
        }
      })

      $(function () {
        var uploader = new ss.SimpleUpload({
          button: 'picture_upload',
          url: '/file_upload.php',
          name: 'imgFile',
          responseType: 'json',
          allowedExtensions: ['jpg', 'jpeg', 'png', 'gif', 'svg'],
          encodeCustomHeaders: true,
          maxSize: 2048, // kilobytes
          onComplete: function (filename, response) {
            if (!response) {
              alert(filename + 'upload failed');
              return false;
            }
            if (!response.success) {
              alert('上传失败! ' + response.msg);
              return false;
            }
            $('input[name="picture"]').attr('value', response.url);
            $('#img_pic').attr('src', response.url);
          }
        });
      })
    })
