extends ../layout

block main
  #main.articlelist
    .header
      .container
        #article-logo
          img(src="/assets/pic/article.svg")
          span ARTICLE
        p #{lang.article.header_text}
    .container
      .row
        .col-lg-9
          .card#list
            each article in articleList
              .list-item
                div.avatar
                  .avatar-icon
                    img(src="#{article.author.avatar}")
                  h3.avatar-title
                      a(href="/article/#{article.title_short}") #{article.title}
                  .avatar-subtitle
                    span.tag #{article.tag}
                    span.date #{dateFormat(article.time)}
                .content
                  a.pic(href="/article/#{article.title_short}")
                    img(src="#{article.picture}")
                  .summary #{article.summary}
        .col-lg-3
          .card#ranklist
            .subtitle #{lang.article.rank_list}
            .list
              each article in clickRankList
                a(href="/article/#{article.title_short}") #{article.title}

block jsCode
  script.

    var width = $(window).width();
    $(function () {
      resize();
    })
    $(window).resize(function () {
      width = $(window).width();
        resize();
    });

    function resize() {

      var picWidth;
      if (width > 480) {
        picWidth = $('.content').width() * 0.3;
      } else {
        picWidth = $('.content').width();
      }
      $('#list .pic').css('max-height', picWidth * 9 / 16 + 'px');
    };

