extends ../layout
block main
  #main.articleDetail
    .header
      .container
        h3 #{article.title}
        .info
          span #{article.tag}
          span.date #{dateFormat(article.time)}
        .author
          a(href="/member/#{article.author.username_db}") By #{article.author.username}
    .container.container-small
      .article
        | !{article.content.html}