extends ../layout
block title
  title #{article.title} - XC · SOFT
block head
  link(href='/assets/css/solarized-light.css', rel='stylesheet')
  script(src='/assets/js/highlight.min.js')
block main
  #main.articleDetail
    .header
      .container
        h3 #{article.title}
        .info
          span #{article.tag}
          span.date #{dateFormat(article.time)}
        .author
          span
            | #{lang.article.by}&nbsp;&nbsp;
            a(href="/member/#{article.author.username_db}") #{article.author.username}
          if article.quote.name != ''
            span
              | #{lang.article.from}&nbsp;&nbsp;
              a(href=article.quote.url) #{article.quote.name}
    .container.container-small
      .article
        | !{article.content.html}
block jsCode
  script.
    hljs.initHighlightingOnLoad();