extends ../layout
block title
  title #{lang.title.member_list} - XC · SOFT
block main
  #main.memberlist
    .header
      .container
        svg
          image(xlink:href="/assets/pic/member.svg", src="/assets/pic/member.png")
        p #{lang.member.header_text}
    .container
      - var groups = [lang.member.core_members, lang.member.common_members, lang.member.retired_members]
      each group, index in groups
        .subtitle #{group}
        .row
          .col-lg-9.list
            each member in memberList
              if member.role == index + 1
                a.list-item(href="/member/#{member.username_db}")
                  .avatar.big
                    .avatar-icon
                      img(src="#{member.avatar}")
                    h3.avatar-title #{member.username}
                    .avatar-subtitle
                      span.habbit #{member.habit}
                      span.motto — #{member.motto}