extends ../layout
block title
  title #{member.username} - XC · SOFT
block main
  #main.memberDetail
    .header
      .container
        h3.username #{member.username}
        .habbit #{member.habit}
    .container.container-small
      .row
        .col-lg-4.group-avatar
          #avatar
            img(src="#{member.avatar}")
          #motto #{member.motto}
        .col-lg-8.col-md-12.group-info
          .row
            .col-md-6.list-item
              span.icon.icon-username(title="User name")
              span.text #{member.username}
            .col-md-6.list-item
              span.icon.icon-realname(title="Real name")
              span.text #{member.real_name}
            .col-md-6.list-item
              span.icon.icon-github(title="GitHub user name")
              a.text(href="#{member.github.url}", target="_blank") #{member.github.username}
            .col-md-6.list-item
              span.icon.icon-blog(title="Blog site")
              a.text(href="#{member.blog.url}", target="_blank") #{member.blog.name}
            .col-md-6.list-item
              span.icon.icon-email(title="Email")
              span.text #{member.email}
            .col-md-6.list-item
              span.icon.icon-phone(title="Phone number")
              span.text #{member.phone}
            .col-md-6.list-item
              span.icon.icon-project(title="Involved projects")
              span.text
                ul
                  each project in projectList
                    li: a(href="/project/#{project.name_short}") #{project.name}


