extends ../layout

block main
  #main
    .header
      .container
        img(src="/assets/pic/project.svg")
        p #{lang.project.header_text}
    .container
      h2.part-title #{lang.project.finished_project}
      .row
        each project in projectList
          .col-lg-4.col-md-6
            a.card(href="/project/#{project.name_short}")
              .card-pic
                div: img(src=project.picture)
                h3 #{project.name}
              .card-body
                .description #{project.description}
                .card-bottom
                  span #{dateFormat(project.finishTime)}
                  //span.right ❤ #{project.favorite}

