extends ../layout
block title
  title #{lang.title.project_list} - XC · SOFT
block main
  #main.projectList
    .header
      .container
        //svg
          image(xlink:href="/assets/pic/project.svg", src="/assets/pic/project.png")
        img(src="/assets/pic/project.png")
        p #{lang.project.header_text}
    .container
      h2.part-title #{lang.project.finished_project}
      .row
        each project in projectList
          .col-lg-4.col-md-6
            a.card(href="/project/#{project.name_short}")
              .card-pic
                div: img(src=project.picture)
                h3 #{project.name}
              .card-body
                .description #{project.description}
                .card-bottom
                  span #{dateFormat(project.finishTime)}
                  //span.right ❤ #{project.favorite}

