extends ../layout
block main
  #main.projectDetail
    .header
      .container
        h3 #{project.name}
        .info #{project.description}
    .container
      .card
        .row
          .col-md-6
            #pic
              img(src="#{project.picture}")
          .col-md-6
            .info
              .row
                .col-sm-6
                  .prop #{lang.project.designer}
                .col-sm-6
                  .value
                    ul
                      each designer in project.designer
                        li
                          a.paper(href="member/#{designer.username_db}")
                            .paper-name #{designer.username}
                            .paper-avatar
                              img(src="#{designer.avatar}")
              .row
                .col-sm-6
                  .prop #{lang.project.developer}
                .col-sm-6
                  .value
                    ul
                      each developer in project.developer
                        li
                          a.paper(href="member/#{developer.username_db}")
                            .paper-name #{developer.username}
                            .paper-avatar.avatar-icon
                              img(src="#{developer.avatar}")
              .row
                .col-sm-6
                  .prop #{lang.project.technology}
                .col-sm-6
                  .value
                    ul.style
                      each tech in project.technology.split('\r\n')
                        li #{tech}
              .row
                .col-sm-6
                  .prop #{lang.project.Completion_date}
                .col-sm-6
                  .value #{dateFormat(project.finishTime)}
      .card
        .article
          | !{project.detail.html}


block jsCode
  script.
    $(document).ready(resize);
    $(window).resize(resize);

    function resize() {
      var picWidth = $('#pic').width();
      $('#pic').css('max-height', picWidth * 9 / 16 + 'px');
    }
